{
    "extends": [
        "@joinbox/joinbox",
        "plugin:react/recommended"
    ],
    "rules": {
        "react/prop-types": 0,
        // For styles
        "no-use-before-define": 0,
        "no-console": 0,
    },
    "parser": "babel-eslint"
}