{
  "expo": {
    "name": "INFECT by anresis",
    "description": "INFECT for mobile phones",
    "slug": "infect-app",
    "privacy": "public",
    "sdkVersion": "33.0.0",
    "platforms": [
      "ios",
      "android"
    ],
    "version": "2.1.3",
    "orientation": "default",
    "icon": "./assets/icon.png",
    "splash": {
      "image": "./assets/splash.png",
      "resizeMode": "contain",
      "backgroundColor": "#cbe264"
    },
    "ios": {
      "supportsTablet": true,
      "bundleIdentifier": "info.infect.app"
    },
    "android": {
      "package": "info.infect.app",
      "versionCode": 5,
      "permissions": []
    },
    "githubUrl": "https://github.com/infect-org/infect-mobile-app",
    "hooks": {
      "postPublish": [
        {
          "file": "sentry-expo/upload-sourcemaps",
          "config": {
            "organization": "[YOUR ORGANISATION]",
            "project": "[YOUR PROJECT]",
            "authToken": "[YOUR TOKEN]"
          }
        }
      ]
    }
  }
}