
export default {
    green: '#cbe264',
    darkGreen: '#afcd26',
    blackGreen: '#31330b',
    highlightBackground: '#a9ddf2',
    darkBackgroundGrey: '#363636',
    mediumBackgroundGrey: '#4b4b4b',
    lightBackgroundGrey: '#848484',
    lightForegroundGrey: '#bcbcbc',
}